{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

  <div class="row">
    <div class="col">
        <h3 class="about">
           What is Neighborhood Help?
        </h3>
        <p class="about">
         Neighborhood help is made for the sole purpose of bringing neighbors together
         through helping. Everyone has those tasks that would be so much easier with a
         little help.

         <br>
         On this site, neighbors in need can create a post that describes the type of work
         that needs to be done, the number of hours it will take to do it, and about how
         many people they need for the task.
        </p>
      </div>
  </div>
  <div class="row">
    <div class="col">
        <h3 class="about">
         Getting Started
        </h3>
        <p class="about">
        If you are simply looking around, feel free to browse postings on the main page.
        <br>
        If you find a posting near you that you want to get involved with, simply click
        on the register button, create a new account, and now you can return to that post
        and send a message directly to the poster-in-need.
       </p>
      </div>
    <div class="col">
        <h3 class="about">
         Interesting Tidbit
        </h3>
        <p class="about">
        Even though we ask for your address when creating a post, it is not used for anything
        other that placing a marker on the map that is "approximately" at the address. A slight
        random modification is made to the Lat & Long coordinates to protect the privacy of the
        posters.
       </p>
      </div>
  </div>

{% endblock %}
